@utility animate-contentShow {
  animation: contentShow 150ms var(--ease-default);
}

@utility animate-contentHide {
  animation: contentHide 100ms var(--ease-default);
}

@utility duration-default {
  transition-duration: var(--duration-default);
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2px);
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-slideDown {
  animation: slideDown var(--duration-default) var(--ease-default);
}

@utility animate-slideUp {
  animation: slideUp var(--duration-default) var(--ease-default);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--reka-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--reka-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@utility animate-hide {
  @apply opacity-0 noscript:opacity-100 motion-reduce:opacity-100;
}
